body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #413553;
    background: #5D6872;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    image-rendering: pixelated !important;
}

h2 {
    font-size: 1rem;
    padding: .5rem;
    margin: .5rem;
    border: 1px solid #8b5580;
    border-radius:4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    font-size: 12px;
    background: #A593A5;
    height: 16px;
    color: #C5CCB8;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding: 4px;
    font-size: 13px;
    line-height: 1.45;
    color: #8B5580;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #C5CCB8;
    border: 1px solid #8B5580;
}

.select2-container--default .select2-selection--multiple {
    background-color: #9D9F7F;
    border: 1px solid #5B6F65;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #8B5580;
    outline: 0;
}

.select2-container {
    width: 100% !important;
    padding: 8px;
}

.hide {
    display: none !important;
}

img {
    image-rendering: pixelated;
}

button, .tab {
    all: unset;
    font-weight: 500;
    padding: .25em .5em;
    letter-spacing: .25px;
    border: 1px solid #413553;
    background: #8B5580;
    color: #C5CCB8;
    border-radius: 4px;
    margin: 2px;
    height: 1.5rem;
}

button:hover, .tab:hover {
    cursor: pointer;
}

input:not([type=checkbox], [type=color]),
textarea,
select,
option {
    all: unset;
    padding: .25rem .5rem;
    font-size: 14px;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-weight: 400;
    color: #8B5580;
    background: #C5CCB8;
    border-radius: 4px;
    width: calc(100% - 1rem);
    margin-bottom: 0;
    height: 1.5rem;
}

select {
    align-items: center;
}

select:hover {
    cursor: pointer;
}


.corners {
    border-radius: 0;
}

.outline {
    border-color: #C5CCB8;
}

.full-height {
    height: 80vh;
}

.scroll {
    overflow-y: auto;
}


header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #9D9F7F;
    border-bottom: 1px solid #5B6F65;
    z-index: 100;
    box-shadow: 4px 4px 18px -8px #5d6872;
}

.header-right {
    text-align: right;

}

.plant-assets {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.app-menu {
    position: fixed;
    margin-top: 32px;
    margin-left: -300px;
    z-index: 200;
    font-size: 14px;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-weight: 400;
    color: #8B5580;
    background: #C5CCB8;
    border: 1px solid #9D9F7F;
    border-radius: 4px;
    box-shadow: 4px 4px 18px -8px #5d6872;
    transition: all .5s;
}

.app-menu.open-menu {
    margin-left: 1rem;
}

.app-menu a {
    text-decoration: none;
    color: #8B5580;
}



.app-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 85vh;
    overflow: auto;
}

.app-menu li {
    padding: 0.75rem 1rem;
    transition: all .25s;
}

.app-menu li i {
    padding: 0 1rem 0 .5rem;
}

.app-menu li:not(:first-child) {
    border-top: 1px solid #9D9F7F;
}

.app-menu li:hover {
    background: #9D9F7F45;
}


#drawer {
    width: 600px;
    margin-right: -600px;
    position: absolute;
    top: 32px;
    bottom: 0;
    right: 0;
    background: #9A9A97;
    border-left: 1px solid #6F6776;
    box-shadow: -8px 4px 18px -12px #5d6872;
    transition: all .25s;
    z-index: 90;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#drawer.drawer-open {
    margin-right: 0;
}

#drawer.drawer-handled {
    margin-right: -378px;
}

.drawer-handle {
    height: 100%;
    width: 12px;
    border: 4px double #6F6776;
    background: #9da07f;
}

.drawer-handle:hover {
    cursor: pointer;
}

.drawer-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.drawer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #C5CCB8;
    margin: 1rem .5rem .5rem;
    padding: .5rem;
    border-radius: 4px;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.drawer-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.drawer-icon {
    border-radius: 4px;
    background: #557064;
    padding: 6px 8px;
    color: #C5CCB8;
    margin: 0;
    line-height: 1;
    font-size: 16px;
}

.drawer-type {
    font-size: 12px;
    text-transform: uppercase;
    padding-left: .5rem;
}

.drawer-info {
    padding: .5rem;
    font-size: 12px;
    text-transform: uppercase;
}

.drawer-window {
    background: #A593A5;
    width: calc(100% - 1rem);
    margin: 0.5rem;
    border: 1px solid #C5CCB8;
    border-radius: 4px;
}

.drawer-content {
    background: #A593A5;
    border: 1px solid #8B5580;
    border-radius: 4px;
    margin: .5rem;
}

.drawer-content-row {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 14px;
    padding: .5rem;
    border-bottom: 1px solid #8B5580;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drawer-content-row:last-child {
    border-bottom: 0;
}

.drawer-content-row label {
    min-width: 122px;
}

.drawer-snackbar {
    background: #C28D75;
    width: 100%;
    height: 64px;
    margin-bottom: -64px;
    position: absolute;
    bottom: 0;
    transition: all .25s;
    border-top: 1px solid #6E6962;
}

.drawer-snackbar-active {
    margin-bottom: 0;
}

.label-container {
    width: 88px;
    min-width: 88px;
    max-width: 88px;
    text-align: right;
    font-size: 13px;
    padding: .5rem 1rem;
}

.input-container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin: .5rem;
}

.input-time {
    display: flex;
    align-items: center;
}

textarea.output {
    padding: 1rem;
    min-height: 64px;
}

textarea {
    min-height: 5rem;
}

.message {
    width: 400px;
    max-width: 100%;
    margin-right: 2rem;
}

#message-center {
    background: #9D9F7F;
    border-bottom: 1px solid #6F6776;
    transition: all .5s;
}

.message-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1rem 1rem 2.5rem;
    background: #9A9A97;
    box-shadow: -8px 4px 18px -12px #5d6872;
    border-bottom: 3px double #6F6776;
}

.message-help {
    font-size: 14px;
    padding: 8px 16px;
}

.note-editable {
    background: #C5CCB8;
    color: #8B5580;
    border-radius: 4px;
}

.note-btn {
    border: 1px solid #413553;
    background: #8B5580;
    color: #C5CCB8;
}

.note-toolbar {
    color: #C5CCB8;
    background: transparent;
    border: 0;
}

.tooltip {
=
}

.tooltip .label {
    color: #8B5580;
}

.tooltip .tip {
    display:none;

}

.tooltip:hover .tip {
    display:block;
    position:absolute;
    width:300px;
    left: 32px;
  color: #413553;
  border-radius: 4px;
  text-align: left;
  padding: 8px;
  border: 1px solid #413553;
  top: 64px;
   background: #9D9F7F;
  border-bottom: 1px solid #6F6776;
}


.note-editor.note-frame,
.note-editor.note-airframe {
    border: 0;
}

.note-editing-area {
    margin: 2px 8px;
}

.note-editor .note-toolbar {
    margin: 0;
    padding: 2px 8px;
}

.card {
    width: calc(100% - 2rem);
    border: 1px solid #8B5580;
    border-radius: 4px;
    padding: .5rem;
    background: #A593A5;
    margin: 4px;
    max-height: 90vh;
    overflow: auto;
}

.card-header {
    border-bottom: 1px solid #8B5580;
    color: #C5CCB8;
    padding: 0.25rem;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 2px #8b5580;
    justify-content: space-between;
}

.card-count {
    font-size: 14px;
    border-radius: 16px;
    padding: 2px 8px;
    white-space: nowrap;
    line-height: 180%;
    text-align: center;
}

.card-footer {
    margin-top: 1rem;
    padding: .5rem .25rem 0;
    border-top: 1px solid #8B5580;
}

.list {}

.action-name {
    background: #BE955C75;
    color: #8B5580;
    padding: 2px 4px;
    border-radius: 4px;
}

.action-triggers {
    color: #6F6776;
}

.category-container {
    -webkit-column-break-inside: avoid;
}



.list-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    font-size: 14px;
    color: #8B5580;
    background: #C5CCB880;
    border-radius: 16px;
    padding: 8px 12px;
    white-space: nowrap;
    line-height: 100%;
}

.list-category a {
    text-decoration: none;
    color: #8B5580;
}

.list-icons i {
    margin: 0 8px;
}

.list-icons i:hover {
    cursor: pointer;
    color: #9D9F7F;
}

.suit-marker {
    width: 8px;
    height: 8px;
}

.list-tags {
    margin: 8px;
}

.tag-label {
    margin: 1px;
    font-size: 14px;
    color: #8B5580;
    background: #C5CCB8;
    border-radius: 16px;
    padding: 2px 8px;
    white-space: nowrap;
    line-height: 180%;
    display: inline-flex;
}

.tag-suits {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
}

.tag-suit {
    width: 12px;
    height: 12px;
    border-radius: 24px;
    margin-right: -4px;
    border: 2px solid;
}

.button-tag-suit {
    margin: 1px;
    font-size: 14px;
    color: #8B5580;
    background: #C5CCB8;
    border-radius: 16px;
    padding: 2px 8px;
    white-space: nowrap;
    line-height: 180%;
    display: inline-flex;
}

.button-tag-suit-active {
    border: 1px solid #fff59a;
    background: #8B5580;
    color: #fff59a;
}

.suit-filter {
    margin: 4px;
    font-size: 14px;
    color: #8B5580;
    background: #C5CCB8;
    border-radius: 16px;
    padding: 2px 8px;
    white-space: nowrap;
    line-height: 180%;
    display: inline-flex;
    align-items: center;
}

.suit-filter span {
    margin-right: 8px;
}

.filter-off {
    opacity: .5;
}

.list-item {
    background: #C5CCB8;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.45em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 2px;
    border: 1px solid #9D9F7F;
    transition: all .25s;
}

.list-item:hover {
    border-color: #8B5580;
    border-left: 1rem solid #8B5580;
    cursor: pointer;
}

.active-list-item {
    border-color: #8B5580;
    border-left: 1rem solid #8B5580;
    background: #fff59a;
}

.sub-active-list-item {
    border-color: #416095;
    border-left: 1rem solid #416095;
    background: #89bcc6;
}

.list-name,
.grid-name {
    font-weight: 500;
    padding: 0.25rem 1rem;
}

.list-data,
.grid-data {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    text-align: right;
    padding: .5rem 1rem;
}

.list-item i {
    padding: 2px;
}

.wall-dial, .roof-dial {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.wall-dial .wall-tile {
    width: 24%;
    color: #8B5580;
    background: #C5CCB8;
}

.roof-dial .roof-tile {
    width: 24%;
    color: #8B5580;
    background: #C5CCB8;
}

.wall-dial .wall-tile.using, .roof-dial .roof-tile.using {
    background: #8B5580;
    color: #C5CCB8;
}



img.wall-TOP_LEFT_, img.roof-TOP_LEFT_ {
    border: 4px solid blueviolet;
    border-width: 8px 0 0 8px;
}
img.roof-TOP_MID_LEFT_ {
    border: 4px solid #413553;
    border-width: 0 0 0 8px;
}
img.wall-TOP_, img.roof-TOP_ {
    border: 4px solid blueviolet;
    border-width: 8px 0 0 0;
}
img.roof-TOP_MID_ {
    border: 2px dashed #413553;
}
img.roof-TOP_MID_RIGHT_ {
    border: 4px solid #413553;
    border-width: 0 8px 0 0;
}
img.wall-TOP_RIGHT_, img.roof-TOP_RIGHT_ {
    border: 4px solid blueviolet;
    border-width: 8px 8px 0 0;
}
img.wall-MID_LEFT_, img.roof-MID_LEFT_ {
    border: 4px solid blueviolet;
    border-width: 0 0 0 8px;
}
img.wall-MID_, img.roof-MID_ {
    border: 2px dashed blueviolet;
}
img.wall-MID_RIGHT_, img.roof-MID_RIGHT_ {
    border: 4px solid blueviolet;
    border-width: 0 8px 0 0;
}
img.wall-LOWER_LEFT_, img.roof-LOWER_LEFT_ {
    border: 4px solid blueviolet;
    border-width: 0 0 8px 8px;
}
img.wall-LOWER_, img.roof-LOWER_ {
    border: 4px solid blueviolet;
    border-width: 0 0 8px 0;
}
img.wall-LOWER_RIGHT_, img.roof-LOWER_RIGHT_ {
    border: 4px solid blueviolet;
    border-width: 0 8px 8px 0;
}

img.wall-TOP_SINGLE_, img.roof-TOP_SINGLE_ {
    border: 4px solid blueviolet;
    border-width: 8px 8px 0 8px;
}

img.wall-MID_SINGLE_, img.roof-MID_SINGLE_ {
    border: 4px solid blueviolet;
    border-width: 0 8px 0 8px;
}

img.wall-LOWER_SINGLE_, img.roof-LOWER_SINGLE_ {
    border: 4px solid blueviolet;
    border-width: 0 8px 8px 8px;
}

img.roof-REPEAT_1_NORTH_, img.roof-REPEAT_2_NORTH_ {
    border: 4px solid blueviolet;
    border-width: 8px 0 0 0;
}

img.roof-PEAK_1_NORTH_, img.roof-PEAK_2_NORTH_ {
    border: 4px solid blueviolet;
    border-width: 8px 8px 0 0 ;

}

img.roof-REPEAT_1_SOUTH_, img.roof-REPEAT_2_SOUTH_, img.roof-REPEAT_3_SOUTH_ {
    border: 4px solid blueviolet;
    border-width: 0 0 8px 0;
}

img.roof-PEAK_1_SOUTH_, img.roof-PEAK_2_SOUTH_ {
    border: 4px solid blueviolet;
    border-width: 0 8px 8px 0;
}

img.roof-PEAK_EDGE_ {
    border: 4px solid blueviolet;
    border-width: 0 8px 0 0;
}

img.roof-PEAK_FRONT_ {
    border: 4px solid blueviolet;
    border-width: 0 8px 8px 0;

}


.puddle-item {
    width: 32px;
    height: 32px;
    margin: 4px;
    display: contents;
}

.puddle-item img, .asset-slot img {
    width: 32px;
    height: 32px;
}

.puddle-obj, .obj-kind-sprites {
    margin: 4px;
    display: contents;
}

.list-item.selected {
    background: #fff59a;
} 


.selected-asset {
    border: 2px solid #C28D75;
    margin: 2px;
}

.asset-slot {
    width: 32px;
    height: 32px;
    margin: 4px;
    background: #8B5580;
}

.list-icon {
    width: 32px;
    height: 32px;
    background: #8B5580;
    margin: 4px 8px 4px 4px;
}

.list-icon img {
    width: 32px;
    height: 32px;
}

.list-align-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Crisp-speed {
    border-right: 4px solid green
}

.Quickened-speed {
    border-right: 4px solid greenyellow
}

.BaseSpeed-speed {
    border-right: 4px solid yellow
}

.Slowed-speed {
    border-right: 4px solid orange
}

.Slog-speed {
    border-right: 4px solid tomato
}

.Molasses-speed {
    border-right: 4px solid #735b46
}

.collides-speed {
    border-right: 4px solid #888
}

.const-label {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: .9em;
}

.empty-state {
    text-align: center;
    font-weight: 500;
    font-style: italic;
}



.toolbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 8px;
    border-bottom: 1px solid #8B5580;
    margin-bottom: 16px;
}

.toolbar select {
    width: 200px;
    font-size: 14px;
    margin: 0 4px;
}

.tb-type {
    text-align: center;
    margin: 0 4px;
}

.tb-type-label {
    font-size: 12px;
    margin-bottom: 0.5em;
}

.tb-buttons {
    display: flex;
}

.tb-button {
    font-weight: 500;
    padding: 4px 8px 2px;
    letter-spacing: .25px;
    border: 1px solid #413553;
    background: #8B5580;
    color: #C5CCB8;
    margin: 0;
    height: 1.5rem;
    border-right: 0;
}

.tb-button:first-child {
    border-radius: 4px 0 0 4px;
}

.tb-button:last-child {
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #413553;
}

.active-tool {
    background: #C5CCB8;
    color: #8B5580;
}

.tb-label {
    display: none;
}

.tb-button:hover .tb-label {
    display: block;
    position: absolute;
    color: #413553;
    background: #C5CCB8;
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 8px;
    box-shadow: 4px 0 8px #5d6872;
}

.tb-button:not(.active-tool):hover {
    cursor: pointer;
    background: #413553;
    color: #C5CCB8;
}

.search-container {
    margin: 4px;
}

.grid {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.grid-1 {
    width: 8.333%;
}

.grid-2 {
    width: 16.666%;
}

.grid-3 {
    width: 25%;
}

.grid-4 {
    width: 33.333%;
}

.grid-5 {
    width: 41.666%;
}

.grid-6 {
    width: 50%;
}

.grid-7 {
    width: 58.333%;
}

.grid-8 {
    width: 66.666%;
}

.grid-9 {
    width: 75%;
}

.grid-10 {
    width: 83.333%;
}

.grid-11 {
    width: 91.666%;
}

.grid-12 {
    width: 100%;
}

.overscroll {
    overflow: auto;
}

.align-right {
    text-align: right;
}

.preview-container {
    display: grid;
    grid-template-columns: repeat(3, 16px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-repeat: no-repeat;
    border: 1px solid red;
    position:relative;
}

.preview-tile {
    width: 16px;
    height: 16px;
    background: #FFFFFF05;
}

.preview-size {
    position:absolute;
    background:#ff00ff50;
}


.preview-container:hover .preview-tile {
    border: .5px solid blue;
    background: goldenrod;
    opacity: .25;
}

.preview-container:hover .preview-base {
    background: #3d56d2;
}

.group-label {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-weight: 400;
    font-size: 13px;
    text-shadow: none;
    color: #413553;
}

.item-becomes {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-weight: 400;
    font-size: 13px;
    text-shadow: none;
    color: #413553;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: flex-end;
}

.item-becomes img {
    margin: 0 4px;
    width: 32px;
    height: 32px;
}

.tile-container {
    background: #C5CCB8;
    border: 1px solid #9D9F7F;
    border-radius: 4px;
    margin: .5rem;
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.selectable-asset {
    border: 1px solid #413553;
    margin: 1px;
}

.selectable-asset:hover {
    border: 1px solid #8B5580;
    cursor: pointer;
}

.selected-asset {
    border: 1px solid #C28D75;
}

.store-container {}

.store-items {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.store-item {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.item-name {
    font-size: 14px;
    padding: 8px;

}

.interaction-formula img {
    width: 32px;
    height: 32px;
}

.tab-container {
    display:flex;
    align-items:center;
    justify-content: flex-start;
}

.tab {

}

.tab-active {
    color: #8B5580;
    background: #C5CCB8;
    border: 1px solid #413553;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    padding-bottom:16px;
    margin-bottom:-2px;
}

.tab-content {
    display:none;
}

.tab-content-active {
    display: block;
  color: #8B5580;
  background: #C5CCB8;
  border: 1px solid #413553;
  margin: 0 2px;
  padding: 8px;
  border-radius: 4px;
}


