

@font-face {
  font-family: 'menuFontItalic';
  src: url('../fonts/Kaph-Italic.ttf');
  font-weight: 400;
  font-weight: normal;
  font-style: italic;
}

html,
body,
#game-container {
  background: #4b424a;
  margin: 0;
  padding: 0;
  image-rendering: optimizeSpeed;
  /* Older versions of FF */
  image-rendering: -moz-crisp-edges;
  /* FF 6.0+ */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non standard naming) */
  image-rendering: -o-crisp-edges;
  /* OS X & Windows Opera (12.02+) */
  image-rendering: crisp-edges;
  /* Possible future browsers. */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non standard naming) */
  image-rendering: pixelated;
}

#game-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container>canvas {
  border-radius: 5px;
}

@keyframes shuffle {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: -16px;
  }
}

.splash {
  background-image: url('../images/splash.gif');
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px;
  font-size: 10px;
  font-family: 'courier';
  border: 1px dashed #88924f;
  background-color: #645d9a;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.splash:after {
  content: 'glory';
  color:#88924f;
  display: block;
  margin-top:60px;
}

.footer {
  text-align: center;
  background: #3f3c35;
  padding: 8px;
  font-size: 10px;
  color: #d8dde1;
  border-radius: 4px;
  margin-left: 8px;
}

.title-card {
  font-family: 'menuFontItalic';
  text-align: center;
  color: #ccc890;
  font-size: 38px;

  animation: shuffle 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-shadow:
    -1px -1px 0 #3f3c35,
    1px -1px 0 #3f3c35,
    -1px 1px 0 #3f3c35,
    1px 1px 0 #3f3c35;
}


